@import '../../scss/color.scss';
@import '../../scss/elevation.scss';

$radius: 1.25rem;
$focused-and-pressed-state-layer-opacity: 0.1;
$hovered-state-layer-opacity: 0.08;
$disabled-container-opacity: 0.12;
$disabled-label-opacity: 0.38;

@mixin label-and-container-color($label-color, $label-opacity: 1, $container-color, $container-opacity: 1) {
    color: rgba($label-color, $label-opacity);
    background-color: rgba($container-color, $container-opacity);
}

@mixin state-layer($color, $opacity) {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color, $opacity);
        border-radius: $radius;
    }
}

@mixin focus-indicator {
    &:focus:enabled {
        outline: solid 3px $color-secondary;
        outline-offset: 2px;
    }
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    padding: 0 1.5rem;
    text-align: center;
    line-height: 1.6667rem;
    font-size: 1.1667rem;
    font-weight: 500;
    &:disabled {
        cursor: default;
    }
    &--icon-left {
        padding-left: 1rem;
    }
    &--icon-right {
        padding-right: 1rem;
    }

    &--elevated {
        box-shadow: $elevation-level-one;
        @include label-and-container-color($label-color: $color-primary, $container-color: $color-surface-container-low);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-primary, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            box-shadow: $elevation-level-two;
            @include state-layer($color-primary, $hovered-state-layer-opacity);
        }
        &:disabled {
            @include label-and-container-color($color-on-surface, $disabled-label-opacity, $color-on-surface, $disabled-container-opacity);
            box-shadow: none;
        }
    }

    &--filled {
        position: relative;
        @include label-and-container-color($label-color: $color-on-primary, $container-color: $color-primary);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-on-primary, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            box-shadow: $elevation-level-one;
            @include state-layer($color-on-primary, $hovered-state-layer-opacity);
        }
        &:disabled {
            @include label-and-container-color($color-on-surface, $disabled-label-opacity, $color-on-surface, $disabled-container-opacity);
        }
    }

    &--outlined {
        outline: solid 1px $color-outline;
        @include label-and-container-color($label-color: $color-primary, $container-color: rgb(0, 0, 0), $container-opacity: 0);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-primary, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            @include state-layer($color-primary, $hovered-state-layer-opacity);
        }
        &:disabled {
            color: rgba($color-on-surface, $disabled-label-opacity);
            outline: solid 1px rgba($color-on-surface, $disabled-container-opacity);
        }
    }

    &--text {
        @include label-and-container-color($label-color: $color-primary, $container-color: rgb(0, 0, 0), $container-opacity: 0);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-on-secondary-container, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            @include state-layer($color-on-secondary-container, $hovered-state-layer-opacity);
        }
    }

    &--tonal {
        background-color: $color-secondary-container;
        color: $color-on-secondary-container;
        @include label-and-container-color($label-color: $color-on-secondary-container, $container-color: $color-secondary-container);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-on-secondary-container, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            box-shadow: $elevation-level-one;
            @include state-layer($color-on-secondary-container, $hovered-state-layer-opacity);
        }
        &:disabled {
            @include label-and-container-color($color-on-surface, $disabled-label-opacity, $color-on-surface, $disabled-container-opacity);
        }
    }

    &__icon {
        fill: currentColor;
        height: 18px;
        width: 18px;
        &--right {
            margin-left: 8px;
        }
        &--left {
            margin-right: 8px;
        }
    }
}
