@import '../../color-variables.scss';

:root {
    --button-radius: 1.25rem;
}

.button {
    height: 2.5rem;
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    padding: 0 1.5rem;
    text-align: center;
    line-height: 1.6667rem;
    font-size: 1.1667rem;
}

.button--filled {
    position: relative;
    &:hover:enabled {
        box-shadow: var(--elevation-level-one);
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.08);
            border-radius: var(--button-radius);
        }
    }

    &:disabled {
        color: rgb($color-on-surface);
        background-color: rgb($color-surface);
    }
    &.button--primary {
        color: rgb($color-on-primary);
        background-color: rgb($color-primary);
        &:focus,
        &:active {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: var(--button-radius);
                outline: solid 3px var($color-secondary);
                outline-offset: 2px;
            }
        }
        &:focus {
            outline: solid 3px rgb($color-secondary);
            outline-offset: 2px;
        }
    }
    &.button--secondary {
        color: rgb($color-on-secondary);
        background-color: rgb($color-secondary);
    }
    &.button--tertiary {
        color: rgb($color-on-tertiary);
        background-color: rgb($color-tertiary);
    }
}

.button--outlined {
    border: solid 1px rgb($color-outline);
    background-color: rgba(0, 0, 0, 0);
    &:disabled {
        color: rgb($color-on-surface);
        background-color: rgb($color-surface);
    }
    &.button--primary {
        color: rgb($color-primary);
        &:hover:enabled {
            background-color: rgb($color-primary), 0.08;
        }
    }
    &.button--secondary {
        color: rgb($color-secondary);
        &:hover:enabled {
            background-color: rgb($color-secondary), 0.08;
        }
    }
    &.button--tertiary {
        color: rgb($color-tertiary);
        &:hover:enabled {
            background-color: rgb($color-tertiary), 0.08;
        }
    }
}

.button--elevated {
    box-shadow: var(--elevation-level-one);
    &.button--primary {
        background-color: rgb($color-surface-container-low);
        color: rgb($color-primary);
        &:hover:enabled {
            background-color: rgb($color-primary), 0.08;
        }
    }
}

// .button--small {
//     font-size: 12px;
//     padding: 10px 16px;
// }
// .button--medium {
//     font-size: 14px;
//     padding: 11px 20px;
// }
// .button--large {
//     font-size: 16px;
//     padding: 12px 24px;
// }
