:root {
    --button-radius: 1.25rem;
}

.button {
    position: relative;
    height: 2.5rem;
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    padding: 0 1.5rem;
    text-align: center;
    line-height: 1.6667rem;
    font-size: 1.1667rem;
}

.button--filled {
    position: relative;
    &.button--primary {
        color: rgb(var(--color-on-primary));
        background-color: rgb(var(--color-primary));
        &:focus:enabled,
        &:active:enabled {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: var(--button-radius);
            }
        }
        &:focus:enabled {
            outline: solid 3px rgb(var(--color-secondary));
            outline-offset: 2px;
        }
        &:hover:enabled {
            box-shadow: var(--elevation-level-one);
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.08);
                border-radius: var(--button-radius);
            }
        }
        &:disabled {
            color: rgba(var(--color-on-surface), 0.38);
            background-color: rgba(var(--color-on-surface), 0.12);
            cursor: default;
        }
    }
}

.button--elevated {
    box-shadow: var(--elevation-level-one);
    &.button--primary {
        background-color: rgb(var(--color-surface-container-low));
        color: rgb(var(--color-primary));
        &:hover:enabled {
            color: rgb(var(--color-primary));
            box-shadow: var(--elevation-level-two);
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(var(--color-primary), 0.08);
                border-radius: var(--button-radius);
            }
        }
        &:focus:enabled {
            outline: solid 3px rgb(var(--color-secondary));
            outline-offset: 2px;
        }
        &:active:enabled,
        &:focus:enabled {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(var(--color-primary), 0.1);
                border-radius: var(--button-radius);
            }
        }
    }
    &:disabled {
        color: rgba(var(--color-on-surface), 0.38);
        background-color: rgba(var(--color-on-surface), 0.12);
        cursor: default;
        box-shadow: none;
    }
}

.button--outlined {
    border: solid 1px rgb(var(--color-outline));
    background-color: rgba(0, 0, 0, 0);
    &:disabled {
        color: rgba(var(--color-on-surface));
        background-color: rgba(var(--color-surface));
    }
    &.button--primary {
        color: rgb(var(--color-primary));
        &:hover:enabled {
            background-color: rgb(var(--color-primary), 0.08);
        }
    }
}
