@import '../../../scss/color.scss';
@import '../Button.scss';

.icon-button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: $shape-corner-full;

    &--filled {
        @include label-and-container-color($label-color: $color-on-primary, $container-color: $color-primary);
        &:active:enabled,
        :focus:enabled {
            @include focus-and-active-state($color-on-primary);
        }
        &:hover:enabled {
            @include hover-state($color-on-primary);
        }

        &.icon-button--toggle.icon-button--unselected {
            @include label-and-container-color($label-color: $color-primary, $container-color: $color-surface-container-highest);
            &:active:enabled,
            :focus:enabled {
                @include focus-and-active-state($color-primary);
            }
            &:hover:enabled {
                @include hover-state($color-primary);
            }
        }

        @include tonal-and-filled-disabled;
    }

    &--tonal {
        @include label-and-container-color($label-color: $color-on-secondary-container, $container-color: $color-secondary-container);
        &:active:enabled,
        :focus:enabled {
            @include focus-and-active-state($color-on-secondary-container);
        }
        &:hover:enabled {
            @include hover-state($color-on-secondary-container);
        }

        &.icon-button--toggle.icon-button--unselected {
            @include label-and-container-color($label-color: $color-on-surface-variant, $container-color: $color-surface-container-highest);
            &:active:enabled,
            :focus:enabled {
                @include focus-and-active-state($color-on-surface-variant);
            }
            &:hover:enabled {
                @include hover-state($color-on-surface-variant);
            }
        }

        @include tonal-and-filled-disabled;
    }

    &--outlined {
        outline: solid 1px $color-outline;
        @include label-and-container-color($label-color: $color-on-surface-variant, $container-color: rgb(0, 0, 0), $container-opacity: 0);
        &:active:enabled,
        :focus:enabled {
            @include focus-and-active-state($color-on-surface);
        }
        &:hover:enabled {
            @include hover-state($color-on-surface-variant);
        }

        &.icon-button--toggle.icon-button--selected {
            outline: none;
            @include label-and-container-color($label-color: $color-inverse-on-surface, $container-color: $color-inverse-surface);
            &:active:enabled,
            :focus:enabled {
                @include focus-and-active-state($color-inverse-on-surface);
            }
            &:hover:enabled {
                @include hover-state($color-inverse-on-surface);
            }
        }

        @include outlined-disabled;
    }

    &--standard {
        @include label-and-container-color($label-color: $color-on-surface-variant, $container-color: rgb(0, 0, 0), $container-opacity: 0);
        &:active:enabled,
        :focus:enabled {
            @include focus-and-active-state($color-on-surface);
        }
        &:hover:enabled {
            @include hover-state($color-on-surface-variant);
        }

        &.icon-button--toggle.icon-button--selected {
            @include label-and-container-color($label-color: $color-primary, $container-color: rgb(0, 0, 0), $container-opacity: 0);
            &:active:enabled,
            :focus:enabled {
                @include focus-and-active-state($color-primary);
            }
            &:hover:enabled {
                @include hover-state($color-primary);
            }
        }

        @include outlined-disabled;
    }

    &__icon {
        fill: currentColor;
    }
}
