@import '../../../scss/color.scss';
@import '../Button.scss';

.icon-button {
    height: 2.5rem;
    width: 2.5rem;

    &--filled {
        @include label-and-container-color($label-color: $color-primary, $container-color: $color-surface-container-highest);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-primary, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            @include state-layer($color-primary, $hovered-state-layer-opacity);
        }
        &.icon-button--selected {
            @include label-and-container-color($label-color: $color-on-primary, $container-color: $color-primary);
            &:focus:enabled {
                @include state-layer($color-on-primary, $focused-and-pressed-state-layer-opacity);
            }
            &:hover:enabled {
                @include state-layer($color-on-primary, $hovered-state-layer-opacity);
            }
        }
        &:disabled {
            @include label-and-container-color($color-on-surface, 0.38, $color-on-surface, 0.12);
        }
    }

    &__icon {
        fill: currentColor;
        height: 24px;
        width: 24px;
    }
}
