@import '../../scss/shape.scss';
@import '../../scss/elevation.scss';
@import '../../scss/state-layer.scss';
@import '../../scss/typography.scss';

.button {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    text-align: center;

    @include typescale-label-large;

    &:focus-visible:enabled {
        @include focus-indicator;
    }

    &:disabled {
        cursor: default;
    }
}

@mixin label-and-container-color($label-color, $label-opacity: 1, $container-color, $container-opacity: 1) {
    color: rgba($label-color, $label-opacity);
    background-color: rgba($container-color, $container-opacity);
}

@mixin outlined-disabled {
    &:disabled {
        color: rgba($color-on-surface, $state-layer-disabled-label-opacity);
        outline: solid 1px rgba($color-on-surface, $state-layer-disabled-container-opacity);
    }
}

@mixin tonal-and-filled-disabled {
    &:disabled {
        @include label-and-container-color(
            $color-on-surface,
            $state-layer-disabled-label-opacity,
            $color-on-surface,
            $state-layer-disabled-container-opacity
        );
    }
}
