@import '../../../scss/color.scss';
@import '../../../scss/elevation.scss';
@import '../../../scss/typography.scss';
@import '../../../scss/shape.scss';
@import '../Button.scss';

.common-button {
    height: 2.5rem;
    padding: 0 1.5rem;
    text-align: center;
    font-family: $typescale-label-large-font;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: $typescale-label-large-size;
    line-height: 1.6667rem;
    font-weight: 500;

    &--icon-left {
        padding-left: 1rem;
    }
    &--icon-right {
        padding-right: 1rem;
    }

    &--elevated {
        box-shadow: $elevation-level-one;
        @include label-and-container-color($label-color: $color-primary, $container-color: $color-surface-container-low);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-primary, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            box-shadow: $elevation-level-two;
            @include state-layer($color-primary, $hovered-state-layer-opacity);
        }
        &:disabled {
            @include label-and-container-color($color-on-surface, $disabled-label-opacity, $color-on-surface, $disabled-container-opacity);
            box-shadow: none;
        }
    }

    &--filled {
        position: relative;
        @include label-and-container-color($label-color: $color-on-primary, $container-color: $color-primary);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-on-primary, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            box-shadow: $elevation-level-one;
            @include state-layer($color-on-primary, $hovered-state-layer-opacity);
        }
        &:disabled {
            @include label-and-container-color($color-on-surface, $disabled-label-opacity, $color-on-surface, $disabled-container-opacity);
        }
    }

    &--outlined {
        outline: solid 1px $color-outline;
        @include label-and-container-color($label-color: $color-primary, $container-color: rgb(0, 0, 0), $container-opacity: 0);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-primary, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            @include state-layer($color-primary, $hovered-state-layer-opacity);
        }
        &:disabled {
            color: rgba($color-on-surface, $disabled-label-opacity);
            outline: solid 1px rgba($color-on-surface, $disabled-container-opacity);
        }
    }

    &--text {
        @include label-and-container-color($label-color: $color-primary, $container-color: rgb(0, 0, 0), $container-opacity: 0);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-on-secondary-container, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            @include state-layer($color-on-secondary-container, $hovered-state-layer-opacity);
        }
        &:disabled {
            color: $color-on-surface;
        }
    }

    &--tonal {
        background-color: $color-secondary-container;
        color: $color-on-secondary-container;
        @include label-and-container-color($label-color: $color-on-secondary-container, $container-color: $color-secondary-container);
        &:active:enabled,
        &:focus:enabled {
            @include state-layer($color-on-secondary-container, $focused-and-pressed-state-layer-opacity);
        }
        @include focus-indicator;
        &:hover:enabled {
            box-shadow: $elevation-level-one;
            @include state-layer($color-on-secondary-container, $hovered-state-layer-opacity);
        }
        &:disabled {
            @include label-and-container-color($color-on-surface, $disabled-label-opacity, $color-on-surface, $disabled-container-opacity);
        }
    }

    &__icon {
        fill: currentColor;
        height: 18px;
        width: 18px;
        &--right {
            margin-left: 8px;
        }
        &--left {
            margin-right: 8px;
        }
    }
}
