@import '../../../scss/color.scss';
@import '../../../scss/elevation.scss';
@import '../../../scss/shape.scss';
@import '../Button.scss';

.common-button {
    border-radius: $shape-corner-full;
    height: 2.5rem;
    padding: 0 1.5rem;

    &--full-width {
        width: 100%;
    }

    &--icon-left {
        padding-left: 1rem;
    }

    &--icon-right {
        padding-right: 1rem;
    }

    &--elevated {
        box-shadow: $elevation-level-one;
        @include label-and-container-color($label-color: $color-primary, $container-color: $color-surface-container-low);
        &:active:enabled,
        :focus:enabled {
            @include focus-and-active-state($color-primary);
        }
        &:hover:enabled {
            @include hover-state($color-on-primary, $elevation-level-two);
        }
        &:disabled {
            @include label-and-container-color(
                $color-on-surface,
                $state-layer-disabled-label-opacity,
                $color-on-surface,
                $state-layer-disabled-container-opacity
            );
            box-shadow: none;
        }
    }

    &--filled {
        @include label-and-container-color($label-color: $color-on-primary, $container-color: $color-primary);
        @include focus-and-active-state($color-on-primary);
        &:hover:enabled {
            @include hover-state($color-on-primary, $elevation-level-one);
        }
        @include tonal-and-filled-disabled;
    }

    &--outlined {
        outline: solid 1px $color-outline;
        @include label-and-container-color($label-color: $color-primary, $container-color: rgb(0, 0, 0), $container-opacity: 0);
        &:active:enabled,
        :focus:enabled {
            @include focus-and-active-state($color-primary);
        }
        &:hover:enabled {
            @include hover-state($color-primary);
        }
        @include outlined-disabled;
    }

    &--text {
        @include label-and-container-color($label-color: $color-primary, $container-color: rgb(0, 0, 0), $container-opacity: 0);
        @include focus-and-active-state($color-on-secondary-container);
        &:hover:enabled {
            @include hover-state($color-on-secondary-container);
        }
        &:disabled {
            color: $color-on-surface;
        }
    }

    &--tonal {
        @include label-and-container-color($label-color: $color-on-secondary-container, $container-color: $color-secondary-container);
        @include focus-and-active-state($color-on-secondary-container);
        &:hover:enabled {
            @include hover-state($color-on-secondary-container, $elevation-level-one);
        }
        @include tonal-and-filled-disabled;
    }

    &__icon {
        fill: currentColor;
        height: 1.125rem;
        width: 1.125rem;
        &--right {
            margin-left: 0.5rem;
        }
        &--left {
            margin-right: 0.5rem;
        }
    }
}
