@import '../../../scss/color.scss';
@import '../../../scss/elevation.scss';
@import '../../../scss/shape.scss';
@import '../Button.scss';

@mixin fab-variant($shape, $elevation, $label-color, $container-color) {
    @include label-and-container-color($label-color: $label-color, $container-color: $container-color);
    &:active:enabled,
    :focus:enabled {
        @include focus-and-active-state($label-color, $shape);
    }
    &:hover:enabled {
        @include hover-state($label-color, $elevation, $shape);
    }
}

.extended-fab {
    border-radius: $shape-corner-large;
    box-shadow: $elevation-level-three;
    height: 3.5rem;
    margin: 1rem;
    min-width: 5rem;
    padding: 0 1.5rem;
    position: relative;

    &.extended-fab--lowered {
        box-shadow: $elevation-level-one;
    }

    &--primary {
        @include fab-variant($shape-corner-large, $elevation-level-four, $color-on-primary-container, $color-primary-container);
        &.extended-fab--lowered {
            @include fab-variant($shape-corner-large, $elevation-level-two, $color-on-primary-container, $color-primary-container);
        }
    }

    &--secondary {
        @include fab-variant($shape-corner-large, $elevation-level-four, $color-on-secondary-container, $color-secondary-container);
        &.extended-fab--lowered {
            @include fab-variant($shape-corner-large, $elevation-level-two, $color-on-secondary-container, $color-secondary-container);
        }
    }

    &--surface {
        @include fab-variant($shape-corner-large, $elevation-level-four, $color-primary, $color-surface-container-high);
        &.extended-fab--lowered {
            @include fab-variant($shape-corner-large, $elevation-level-two, $color-primary, $color-surface-container-low);
        }
    }

    &--tertiary {
        @include fab-variant($shape-corner-large, $elevation-level-four, $color-on-tertiary-container, $color-tertiary-container);
        &.extended-fab--lowered {
            @include fab-variant($shape-corner-large, $elevation-level-two, $color-on-tertiary-container, $color-tertiary-container);
        }
    }

    &__icon {
        fill: currentColor;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.75rem;
    }
}
