$light-primary: rgb(20 102 131);
$light-surface-tint: rgb(20 102 131);
$light-on-primary: rgb(255 255 255);
$light-primary-container: rgb(191 233 255);
$light-on-primary-container: rgb(0 31 42);
$light-secondary: rgb(1 107 93);
$light-on-secondary: rgb(255 255 255);
$light-secondary-container: rgb(159 242 225);
$light-on-secondary-container: rgb(0 32 27);
$light-tertiary: rgb(132 76 114);
$light-on-tertiary: rgb(255 255 255);
$light-tertiary-container: rgb(255 216 238);
$light-on-tertiary-container: rgb(54 7 44);
$light-error: rgb(186 26 26);
$light-on-error: rgb(255 255 255);
$light-error-container: rgb(255 218 214);
$light-on-error-container: rgb(65 0 2);
$light-background: rgb(246 250 254);
$light-on-background: rgb(23 28 31);
$light-surface: rgb(246 250 254);
$light-on-surface: rgb(23 28 31);
$light-surface-variant: rgb(220 227 233);
$light-on-surface-variant: rgb(64 72 76);
$light-outline: rgb(112 120 125);
$light-outline-variant: rgb(192 200 205);
$light-shadow: rgb(0 0 0);
$light-scrim: rgb(0 0 0);
$light-inverse-surface: rgb(44 49 52);
$light-inverse-on-surface: rgb(237 241 245);
$light-inverse-primary: rgb(140 207 240);
$light-primary-fixed: rgb(191 233 255);
$light-on-primary-fixed: rgb(0 31 42);
$light-primary-fixed-dim: rgb(140 207 240);
$light-on-primary-fixed-variant: rgb(0 77 101);
$light-secondary-fixed: rgb(159 242 225);
$light-on-secondary-fixed: rgb(0 32 27);
$light-secondary-fixed-dim: rgb(131 213 197);
$light-on-secondary-fixed-variant: rgb(0 80 70);
$light-tertiary-fixed: rgb(255 216 238);
$light-on-tertiary-fixed: rgb(54 7 44);
$light-tertiary-fixed-dim: rgb(247 177 222);
$light-on-tertiary-fixed-variant: rgb(105 52 89);
$light-surface-dim: rgb(214 219 222);
$light-surface-bright: rgb(246 250 254);
$light-surface-container-lowest: rgb(255 255 255);
$light-surface-container-low: rgb(240 244 248);
$light-surface-container: rgb(234 238 242);
$light-surface-container-high: rgb(228 233 236);
$light-surface-container-highest: rgb(223 227 231);
