:root {
    /* Elevation */
    --elevation-level-one: 0 1px 2px 0 rgba(var(--color-shadow), 0.3), 0 1px 3px 1px rgba(var(--color-shadow), 0.15);
}

:root {
    font-family: 'Roboto Serif', serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: var(--color-surface);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
