:root {
    /* Color Scheme */
    --color-primary: 20, 102, 131;
    --color-surface-tint: 20, 102, 131;
    --color-on-primary: 255, 255, 255;
    --color-primary-container: 191, 233, 255;
    --color-on-primary-container: 0, 31, 42;
    --color-secondary: 1, 107, 93;
    --color-on-secondary: 255, 255, 255;
    --color-secondary-container: 159, 242, 225;
    --color-on-secondary-container: 0, 32, 27;
    --color-tertiary: 132, 76, 114;
    --color-on-tertiary: 255, 255, 255;
    --color-tertiary-container: 255, 216, 238;
    --color-on-tertiary-container: 54, 7, 44;
    --color-error: 186, 26, 26;
    --color-on-error: 255, 255, 255;
    --color-error-container: 255, 218, 214;
    --color-on-error-container: 65, 0, 2;
    --color-background: 246, 250, 254;
    --color-on-background: 23, 28, 31;
    --color-surface: 246, 250, 254;
    --color-on-surface: 23, 28, 31;
    --color-surface-variant: 220, 227, 233;
    --color-on-surface-variant: 64, 72, 76;
    --color-outline: 112, 120, 125;
    --color-outline-variant: 192, 200, 205;
    --color-shadow: 0, 0, 0;
    --color-scrim: 0, 0, 0;
    --color-inverse-surface: 44, 49, 52;
    --color-inverse-on-surface: 237, 241, 245;
    --color-inverse-primary: 140, 207, 240;
    --color-primary-fixed: 191, 233, 255;
    --color-on-primary-fixed: 0, 31, 42;
    --color-primary-fixed-dim: 140, 207, 240;
    --color-on-primary-fixed-variant: 0, 77, 101;
    --color-secondary-fixed: 159, 242, 225;
    --color-on-secondary-fixed: 0, 32, 27;
    --color-secondary-fixed-dim: 131, 213, 197;
    --color-on-secondary-fixed-variant: 0, 80, 70;
    --color-tertiary-fixed: 255, 216, 238;
    --color-on-tertiary-fixed: 54, 7, 44;
    --color-tertiary-fixed-dim: 247, 177, 222;
    --color-on-tertiary-fixed-variant: 105, 52, 89;
    --color-surface-dim: 214, 219, 222;
    --color-surface-bright: 246, 250, 254;
    --color-surface-container-lowest: 255, 255, 255;
    --color-surface-container-low: 240, 244, 248;
    --color-surface-container: 234, 238, 242;
    --color-surface-container-high: 228, 233, 236;
    --color-surface-container-highest: 223, 227, 231;
    /* Elevation */
    --elevation-level-one: 0 1px 2px 0 rgba(var(--color-shadow), 0.3), 0 1px 3px 1px rgba(var(--color-shadow), 0.15);
}

:root {
    font-family: 'Roboto Serif', serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: var(--color-surface);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
