$color-primary: rgb(39 99 137);
$color-surface-tint: rgb(39 99 137);
$color-on-primary: rgb(255 255 255);
$color-primary-container: rgb(202, 230, 255);
$color-on-primary-container: rgb(0, 30, 47);
$color-secondary: rgb(80 96 110);
$color-on-secondary: rgb(255 255 255);
$color-secondary-container: rgb(211 229 245);
$color-on-secondary-container: rgb(12 29 41);
$color-tertiary: rgb(100 89 123);
$color-on-tertiary: rgb(255 255 255);
$color-tertiary-container: rgb(234 221 255);
$color-on-tertiary-container: rgb(32 22 52);
$color-error: rgb(186, 26, 26);
$color-on-error: rgb(255 255 255);
$color-error-container: rgb(255 218 214);
$color-on-error-container: rgb(65 0 2);
$color-background: rgb(247, 249, 255);
$color-on-background: rgb(24, 28, 32);
$color-surface: rgb(247 249 255);
$color-on-surface: rgb(24 28 32);
$color-surface-variant: rgb(221 227 234);
$color-on-surface-variant: rgb(65 71 77);
$color-outline: rgb(114 120 126);
$color-outline-variant: rgb(193 199 206);
$color-shadow: rgb(0 0 0);
$color-scrim: rgb(0 0 0);
$color-inverse-surface: rgb(45 49 53);
$color-inverse-on-surface: rgb(238 241 246);
$color-inverse-primary: rgb(149 205 248);
$color-primary-fixed: rgb(202 230 255);
$color-on-primary-fixed: rgb(0 30 47);
$color-primary-fixed-dim: rgb(149 205 248);
$color-on-primary-fixed-variant: rgb(0 75 111);
$color-secondary-fixed: rgb(211 229 245);
$color-on-secondary-fixed: rgb(12 29 41);
$color-secondary-fixed-dim: rgb(183 201 217);
$color-on-secondary-fixed-variant: rgb(56 73 86);
$color-tertiary-fixed: rgb(234 221 255);
$color-on-tertiary-fixed: rgb(32 22 52);
$color-tertiary-fixed-dim: rgb(207 192 232);
$color-on-tertiary-fixed-variant: rgb(76 65 98);
$color-surface-dim: rgb(215 218 223);
$color-surface-bright: rgb(247 249 255);
$color-surface-container-lowest: rgb(255 255 255);
$color-surface-container-low: rgb(241 244 249);
$color-surface-container: rgb(235 238 243);
$color-surface-container-high: rgb(229 232 237);
$color-surface-container-highest: rgb(224 227 232);
