$color-primary: rgb(20 102 131);
$color-surface-tint: rgb(20 102 131);
$color-on-primary: rgb(255 255 255);
$color-primary-container: rgb(191 233 255);
$color-on-primary-container: rgb(0 31 42);
$color-secondary: rgb(1 107 93);
$color-on-secondary: rgb(255 255 255);
$color-secondary-container: rgb(159 242 225);
$color-on-secondary-container: rgb(0 32 27);
$color-tertiary: rgb(132 76 114);
$color-on-tertiary: rgb(255 255 255);
$color-tertiary-container: rgb(255 216 238);
$color-on-tertiary-container: rgb(54 7 44);
$color-error: rgb(186 26 26);
$color-on-error: rgb(255 255 255);
$color-error-container: rgb(255 218 214);
$color-on-error-container: rgb(65 0 2);
$color-background: rgb(246 250 254);
$color-on-background: rgb(23 28 31);
$color-surface: rgb(246 250 254);
$color-on-surface: rgb(23 28 31);
$color-surface-variant: rgb(220 227 233);
$color-on-surface-variant: rgb(64 72 76);
$color-outline: rgb(112 120 125);
$color-outline-variant: rgb(192 200 205);
$color-shadow: rgb(0 0 0);
$color-scrim: rgb(0 0 0);
$color-inverse-surface: rgb(44 49 52);
$color-inverse-on-surface: rgb(237 241 245);
$color-inverse-primary: rgb(140 207 240);
$color-primary-fixed: rgb(191 233 255);
$color-on-primary-fixed: rgb(0 31 42);
$color-primary-fixed-dim: rgb(140 207 240);
$color-on-primary-fixed-variant: rgb(0 77 101);
$color-secondary-fixed: rgb(159 242 225);
$color-on-secondary-fixed: rgb(0 32 27);
$color-secondary-fixed-dim: rgb(131 213 197);
$color-on-secondary-fixed-variant: rgb(0 80 70);
$color-tertiary-fixed: rgb(255 216 238);
$color-on-tertiary-fixed: rgb(54 7 44);
$color-tertiary-fixed-dim: rgb(247 177 222);
$color-on-tertiary-fixed-variant: rgb(105 52 89);
$color-surface-dim: rgb(214 219 222);
$color-surface-bright: rgb(246 250 254);
$color-surface-container-lowest: rgb(255 255 255);
$color-surface-container-low: rgb(240 244 248);
$color-surface-container: rgb(234 238 242);
$color-surface-container-high: rgb(228 233 236);
$color-surface-container-highest: rgb(223 227 231);
