$shape-corner-none: 0;
$shape-corner-extra-small: 0.25rem;
$shape-corner-extra-small-top: 0.25rem 0.25rem 0 0;
$shape-corner-small: 0.5rem;
$shape-corner-medium: 0.75rem;
$shape-corner-large: 1rem;
$shape-corner-large-start: 1rem 0 0 1rem;
$shape-corner-large-end: 0 1rem 1rem 0;
$shape-corner-large-top: 1rem 1rem 0 0;
$shape-corner-extra-large: 1.75rem;
$shape-corner-extra-large-top: 1.75rem 1.75rem 0 0;
$shape-corner-full: 2rem;
