$font-size-unit: 0.0625rem;

$typescale-body-large-font: 'Roboto', sans-serif;
$typescale-body-large-tracking: $font-size-unit * 0.5;
$typescale-body-large-weight: 400;
$typescale-body-large-line-height: $font-size-unit * 24;
$typescale-body-large-size: $font-size-unit * 16;

@mixin typescale-body-large {
    font-family: $typescale-body-large-font;
    font-size: $typescale-body-large-size;
    font-weight: $typescale-body-large-weight;
    letter-spacing: $typescale-body-large-tracking;
    line-height: $typescale-body-large-line-height;
}

$typescale-label-large-font: 'Roboto', sans-serif;
$typescale-label-large-tracking: $font-size-unit * 0.1;
$typescale-label-large-weight: 500;
$typescale-label-large-weight-prominent: 700;
$typescale-label-large-line-height: $font-size-unit * 20;
$typescale-label-large-size: $font-size-unit * 14;

@mixin typescale-label-large {
    font-family: $typescale-label-large-font;
    font-size: $typescale-label-large-size;
    font-weight: $typescale-label-large-weight;
    letter-spacing: $typescale-label-large-tracking;
    line-height: $typescale-label-large-line-height;
}

$typescale-title-small-font: 'Roboto', sans-serif;
$typescale-title-small-tracking: $font-size-unit * 0.1;
$typescale-title-small-weight: 500;
$typescale-title-small-weight-prominent: 700;
$typescale-title-small-line-height: $font-size-unit * 20;
$typescale-title-small-size: $font-size-unit * 14;
